<div class="report-create">
	<div class="field-table-row">
		<div class="field-table-cell">
			<label>{{ label }}</label>
			<button md-button class="btn btn-primary">Create Report</button>	
		</div>
	</div>
</div>
