.btn-primary {
	padding: 0 2% !important;
}

.report-create {
	margin-top: 2%;
}

.field-table-row {
	display: table-row;
	margin-bottom: 10px;
}

.field-table-cell
{
	display: table-cell;
	width: 300px;
}

.field-table-cell button {
	float: right;
}

