<!-- <form class="form-container">
    <h1>Edit Return</h1>
    <div class="form-input-container">
        <div class="col1" *ngIf="returnFormGroup">
            <form [formGroup]="returnFormGroup" (ngSubmit)="editReturn()">
                <div *ngFor="let input of inputs" class="form-item">
                    <input-variable [input]="input" [form]="returnFormGroup"></input-variable>
                </div>
            </form>
        </div>
    </div>
</form> -->

<form class="form-container">
    <div class="form-input-container" *ngIf="returnObject">
        <div class="col1">
            <input-text [label]="'Product Name'" [(model)]="returnObject.name" [disabled]="true"></input-text>
            <input-text [label]="'Product Sku'" [(model)]="returnObject.sku" [disabled]="true"></input-text>
            <input-text [label]="'Return Quantity'" [(model)]="returnObject.quantity_returned" [disabled]="true"></input-text>

            <input-text [label]="'Returned Reason'" [(model)]="returnObject.reason" [disabled]="true"></input-text>

            <input-text [label]="'Total Exclusive Tax'" [(model)]="returnObject.total_ex_tax" [disabled]="true"></input-text>

            <input-text [label]="'Total Inclusive Tax'" [(model)]="returnObject.total_inc_tax" [disabled]="true"></input-text>

            <input-text [label]="'Total Tax'" [(model)]="returnObject.total_tax" [disabled]="true"></input-text>

            <input-text [label]="'Return Type'" [(model)]="returnObject.type" [disabled]="true"></input-text>
        </div>
        <div class="col1" *ngIf="returnFormGroup">
            <form [formGroup]="returnFormGroup" (ngSubmit)="editReturn()">
                <div *ngFor="let input of inputs" class="form-item">
                    <input-variable [input]="input" [form]="returnFormGroup"></input-variable>
                </div>
            </form>
        </div>
    </div>
</form>


<div class="bottom-action-container">
    <div class="button-container">
        <button md-button class="btn btn-cancel" [routerLink]="'/returns'">Back To List</button>
        <button md-button class="btn btn-primary" (click)="editReturn()">Save Changes</button>
    </div>
</div>