<form class="edit-order form-container" *ngIf="order">
    <div class="form-input-container">
        <div class="col1">
            <input-text [label]="'Account ID'" [(model)]="order.account_id" [disabled]="true"></input-text>
            <input-text [label]="'Product ID'" [(model)]="order.product_id" [disabled]="true"></input-text>
            <input-text [label]="'SKU'" [(model)]="order.sku" [disabled]="true"></input-text>

            <input-text [label]="'Quantity'" [(model)]="order.quantity" [disabled]="true"></input-text>

            <input-text [label]="'Base Cost Price'" [(model)]="order.base_cost_price" [disabled]="true"></input-text>

            <input-text [label]="'Shipping Fee'" [(model)]="order.base_shipping_cost" [disabled]="true"></input-text>

            <input-text [label]="'Tracking Number'" [(model)]="order.tracking_number" [disabled]="true"></input-text>

            <input-text [label]="'Handling Cost'" [(model)]="order.base_handling_cost" [disabled]="true"></input-text>

        </div>
    </div>
</form>

<!-- <div class="table-list">
    <h3>Order Product</h3>
    <li class="row heading">
        <strong class="col" style="min-width: 25%">Product SKU</strong>
        <strong class="col" style="min-width: 25%">Product Name</strong>
        <strong class="col" style="min-width: 25%">Product Details**</strong>
        <strong class="col" style="min-width: 8%">Product Price</strong>
        <strong class="col" style="min-width: 8%">Quantity</strong>
        <strong class="col" style="min-width: 8%">Total</strong>
    </li>
    <div *ngFor="let product of products">
        <li class="row">
            <strong class="col" style="min-width: 25%;">{{product.sku}}</strong>
            <strong class="col" style="min-width: 25%;">{{product.name}}</strong>
            <strong class="col" style="min-width: 25%;">{{product.details}}</strong>
            <strong class="col" style="min-width: 8%;">{{product.base_total}}</strong>
            <strong class="col" style="min-width: 8%;">{{product.quantity}}</strong>
            <strong class="col" style="min-width: 8%;">{{product.price_inc_tax}}</strong>       
        </li>
    </div>
</div>
     
    <div style="float:right; margin: 2rem 0 10rem 0;">
        <div style="margin-bottom: 5px;">
            <strong>Subtotal: </strong>
            <label style="float:right;">{{subtotal}}</label>    
        </div>
        <div style="margin-bottom: 5px;">
            <strong>Taxes: </strong>
            <label style="float:right;">{{subtotal}}</label>    
        </div>
        <div style="margin-bottom: 5px;">
            <strong>Shipping: </strong>
            <label style="float:right;">{{subtotal}}</label>    
        </div>
        <div style="margin-bottom: 5px;">
            <strong>Grand Total: </strong>
            <strong style="float:right; margin-left: 20px;">{{subtotal}}</strong>    
        </div> 
    </div> -->

<div class="bottom-action-container">
    <div class="button-container">
        <button md-button class="btn btn-cancel" [routerLink]="'/orders'">Back To List</button>
        <!-- <button md-button class="btn btn-secondary">Save Changes</button> -->
        <!-- <button md-button class="btn btn-primary">Save & Exit</button> -->
    </div>
</div>
