<div class="page-container">
	<h1>Notifications</h1>
	<listing 
    [(items)]="notifications" 
    [page]="page" 
    [maxpages]="maxpages" 
    [(limit)]="limit" 
    [fields]="fields" 
    [bulkOptions]="bulkOptions" 
    (bulkOptionChange)="bulkChange($event)" 
    (onChange)="changePage($event)" 
    (filter)="filterItems($event)"
    (updateSortAction)="updateSort($event)" 
    [order]="order" 
    [sortabledirection]="sortabledirection">
  </listing>
  <h3 *ngIf="!dataAvailable" style="color: #4b71fc">There is no notification yet.</h3>
</div>
