<div class="page-container">
    <h1>Orders Management</h1>
    <listing 
    	[actionbar]="actionbar"
	    [(items)]="orders" 
	    [page]="page" 
	    [maxpages]="maxpages" 
	    [(limit)]="limit" 
	    [fields]="fields" 
	    [bulkOptions]="bulkOptions" 
	    (bulkOptionChange)="bulkChange($event)" 
	    (onChange)="changePage($event)" 
	    (filter)="filterItems($event)"
	    (updateSortAction)="updateSort($event)" 
	    [order]="order" 
	    [sortabledirection]="sortabledirection">
    </listing>
    <h3 *ngIf="!dataAvailable" style="color: #4b71fc">There is no order yet.</h3>
</div>