<div class="panel page_content_item_2col">
	<h1 class="panel-heading">Notifications > # {{id}} </h1>
	<div class="panel-body">
		<h3>Notification Details</h3>
		<table>
			<tr>
				<th>Type: </th>
				<td>{{msgType}}</td>
			</tr>
			<tr>
				<th>Time: </th>
				<td>{{updateTime}}</td>
			</tr>
			<tr>
				<th>Name: </th>
				<td>{{entityName}}</td>
			</tr>
		</table>
	</div>
</div>

<div class="panel page_content_item_2col">
	<h1 class="panel-heading">Notification Message</h1>
	<div class="panel-body">
		<input-textarea [rows]=10 [cols]=70></input-textarea>		
	</div>
	<button class="btn btn-primary btn-float-right" [routerLink]="'/notifications'">Back To List</button>
</div>




