<div class="action-bar-components">
    <select *ngIf="bulkOptions" [(ngModel)]="actionModel">
        <option value="">Select an Option</option>
        <option *ngFor="let option of bulkOptions" value="{{ option.action }}">{{ option.name }}</option>
    </select>
    <button *ngIf="bulkOptions" md-button class="action-bar-button" (click)="confirmBulkEdit()">Confirm</button>

    <form class='action-bar-form' (ngSubmit)="filter()" >
        <input type="text" name="filter" [(ngModel)]="query" placeholder="Filter by Keyword">
        <button md-button class="action-bar-button">Search</button>
    </form>
</div>