.dropdown {position: relative; width: 39px;}
.dropdown button {outline: none; background-color: #FFF; border: 1px solid #FFF; padding: 5px 7px; cursor: pointer;}
.dropdown .dropdown-options {display:none;}
.dropdown.showing button { border-color: #e4e7ed; cursor: pointer; border-bottom: 1px solid #FFF; z-index: 999; position: relative;}
.dropdown.showing .dropdown-options {display: inline-block; border: 1px solid #e4e7ed; padding: 10px 0; position: absolute; top: 18px; z-index: 888; background-color: #FFF; right: -1px;}
.dropdown.showing .dropdown-options li {display: block; margin: 0; font-size: 12px; min-width: 100px;}
.dropdown.showing .dropdown-options li:hover a {background-color: #e3f1fc; color: #5d5b66;}
.dropdown.showing .dropdown-options li a {color: #5d5b66; transition: background .15s ease; padding: 7px 10px; display: block; text-decoration: none;}