<form class="edit-account form-container">
    <h1>Accounts</h1>
    <div class="form-input-container">
      <div class="col1">
	      <input-text name="store_name" [label]="'Store Name'" [(model)]="account.name" [required]="true" [(valid)]="formValid.name" [disabled]=true></input-text>
	      <input-text name="contact_first_name" [label]="'Contact First Name'" [(model)]="account.contact_first_name" [required]="true" [(valid)]="formValid.contact_first_name" [disabled]=true></input-text>
	      <input-text name="contact_last_name" [label]="'Contact Last Name'" [(model)]="account.contact_last_name" [required]="true" [(valid)]="formValid.contact_last_name" [disabled]=true></input-text>
	      <input-text name="contact_email" [label]="'Contact Email'" [(model)]="account.contact_email" [required]="true" [(valid)]="formValid.contact_email" [disabled]=true></input-text>
	      <input-text name="contact_phone" [label]="'Contact Phone'" [(model)]="account.contact_phone" [required]="true" [(valid)]="formValid.contact_phone" [disabled]=true></input-text>
	      <input-text name="tax_id" [label]="'Tax ID'" [(model)]="account.tax_id" [required]="true" [(valid)]="formValid.tax_id" [disabled]=true></input-text>
	      <input-text name="billing_first_name" [label]="'Billing First Name'" [(model)]="account.billing_city" [required]="true" [(valid)]="formValid.billing_first_name" [disabled]=true></input-text>
	      <input-text name="billing_last_name" [label]="'Billing Last Name'" [(model)]="account.billing_city" [required]="true" [(valid)]="formValid.billing_last_name" [disabled]=true></input-text>
	      <input-text name="billing_companey" [label]="'Billing Company'" [(model)]="account.billing_company" [required]="true" [(valid)]="formValid.billing_company" [disabled]=true></input-text>
				<input-text name="billing_address1" [label]="'Billing Address 1'" [(model)]="account.billing_address1" [required]="true" [(valid)]="formValid.billing_address1" [disabled]=true></input-text>
	      <input-text name="billing_address2" [label]="'Billing Address 2'" [(model)]="account.billing_address2" [required]="true" [(valid)]="formValid.billing_address2" [disabled]=true></input-text>
	      <input-text name="billing_city" [label]="'Billing City'" [(model)]="account.billing_city" [required]="true" [(valid)]="formValid.billing_city" [disabled]=true></input-text>
	      <input-text name="billing_state" [label]="'Billing State'" [(model)]="account.billing_state" [required]="true" [(valid)]="formValid.billing_zip" [disabled]=true></input-text>
	      <input-text name="billing_zip" [label]="'Billing Zip'" [(model)]="account.billing_zip" [required]="true" [(valid)]="formValid.billing_zip" [disabled]=true></input-text>
	      <input-text name="billing_country" [label]="'Billing Country'" [(model)]="account.billing_country" [required]="true" [(valid)]="formValid.billing_country" [disabled]=true></input-text>
      </div>
    </div>
</form>

<form class="form-container">
	<h1>Subscription Details</h1>
	<div class="form-input-container">
		<input-text name="subscription_level" [label]="'Subscription Level'" [(model)]="account.active_subscription_level" [required]="true" [(valid)]="formValid.active_subscription_level" [disabled]=true></input-text>
		<input-text name="subscription_map_discount" [label]="'Subscription Map Discount'" [(model)]="account.subscription_map_discount" [required]="true" [(valid)]="formValid.subscription_map_discount" [disabled]=true></input-text>
		<!-- <input-select [label]="'Subsctiption Status'" [options]="statusOptions">
		</input-select> -->
		<input-text name="payment_type" [label]="'Payment Type'" [(model)]="account.payment_type" [required]="true" [(valid)]="formValid.payment_type" [disabled]=true></input-text>	
	</div>
</form>

<!-- <div class="table-list">
	<h3>Subscription Payments</h3>
	<li class="row heading">
		<strong class="col" style="min-width: 30%">Date</strong>
		<strong class="col" style="min-width: 30%">Value</strong>
		<strong class="col" style="min-width: 30%">Subscription Level</strong>
		
	</li>
	<div *ngFor="let subscription of subscriptions">
		<li class="row">
			<div class="col" style="min-width: 30%">{{subscription.date_created}}</div>	
			<div class="col" style="min-width: 30%">{{subscription.price}}</div>
			<div class="col" style="min-width: 30%">{{subscription.subscription_level}}</div>		
		
		</li>
	</div>
</div> -->

<form class="form-container">
	<h1>Store Details</h1>
	<div class="form-input-container">
		<!-- <input-select [label]="'Platform'" [options]="PlatformOptions"></input-select> -->
		<input-text [label]="'Platform'" [(model)]="account.platform" [disabled]=true></input-text>
		<input-text name="map_markup" [label]="'MAP % Markup'" [(model)]="account.product_markup" [(valid)]="formValid.map_markup" [disabled]=true></input-text>	
<!-- 		<input-text name="shipping_markup" [label]="'Shipping % Markup'" [(model)]="account.shipping_markup" [required]="true" [(valid)]="formValid.shipping_markup" [disabled]=true></input-text>	
		<input-text name="payment_type" [label]="'Product Count'" [(model)]="account.payment_type" [required]="true" [(valid)]="formValid.payment_type" [disabled]=true></input-text>	 -->
		<input-text name="life_time_orders" [label]="'Lifetime Orders'" [(model)]="account.life_time_orders" [(valid)]="formValid.life_time_orders" [disabled]=true></input-text>	
		<input-text name="life_time_sales" [label]="'Lifetime Sales $'" [(model)]="account.life_time_sales" [(valid)]="formValid.life_time_sales" [disabled]=true></input-text>	
		<!-- <input-text name="payment_type" [label]="'Return Rate'" [(model)]="account.return_rate" [required]="true" [(valid)]="formValid.return_rate" [disabled]=true></input-text>	 -->
	</div>
</form>

<!-- <form class="form-input-container">
		<h1>Staff Notes</h1>
		<input-textarea [rows]=10 [cols]=200 [(model)]="account.staff_notes"></input-textarea>
		<input-select [label]="'Status'" [options]="statusOptions"></input-select>
</form>
 -->

<form class="form-container">
    <h1>Staff Notes</h1>
    <div class="form-input-container">
        <div class="col1" *ngIf="accountUpdate">
            <form [formGroup]="accountUpdate" >
                <div *ngFor="let input of inputs" class="form-item">
                    <input-variable [input]="input" [form]="accountUpdate"></input-variable>
                </div>
            </form>
        </div>
    </div>
</form>

<div class="bottom-action-container">
    <div class="button-container">
        <button md-button class="btn btn-cancel" [routerLink]="'/accounts'">Back To List</button>
        <button md-button class="btn btn-primary" (click)="updateAccount()">Save Changes</button>
        <!-- <button md-button class="btn btn-secondary">Save & Exit</button> -->
    </div>
</div>

