<div class="panel">
	<div class="panel-heading">
		<h3>Product Details</h3>
	</div>
	<div class="panel-body">
		<input-textarea [rows]=10 [cols]=50>{{product.description}}</input-textarea>
	</div>
</div>

<div class="panel">
	<div class="panel-heading">
		<h3>Specific Details</h3>
	</div>
	<div class="panel-body">
		<input-text name="stockLevel" [label]="'Stock Level'" [(model)]="product.inventory_level" [required]="true" [(valid)]="formValid.inventory_level" [disabled]="false"></input-text>
		<input-select [label]="'Product Status'" [options]="status"></input-select>
		<input-text name="dateAdded" [label]="'Date Added'" [(model)]="product.date_created" [required]="true" [(valid)]="formValid.date_created" [disabled]="false"></input-text>
		
		<input-select [label]="'Current Supplier'" [options]="suppliers"></input-select>
	</div>
</div>

<div class="panel">
	<div class="panel-heading">
		Legaue License Admin Note
	</div>
	<div class="panel-body">
		<input-textarea [rows]=10 [cols]=50>{{product.staff_notes}}</input-textarea>
	</div>
</div>

<div class="bottom-action-container">
    <div class="button-container">
        <button md-button class="btn btn-cancel" [routerLink]="'/products'">Back To List</button>
        <button md-button class="btn btn-primary">Save Changes</button>
        <!-- <button md-button class="btn btn-secondary">Save & Exit</button> -->
    </div>
</div>