<div class="input-container" [formGroup]="form" [ngSwitch]="input.controlType">
    <label [attr.for]="input.key">{{ input.label }}</label>

    <!-- text input -->
    <input *ngSwitchCase="'text'" [formControlName]="input.key" [id]="input.key" [type]="input.type">

    <!-- select input -->
    <select *ngSwitchCase="'select'" [formControlName]="input.key" [id]="input.key">
        <option>Please choose an option</option>
         <option *ngFor="let option of input.options" [ngValue]="option.value ? option.value : option">{{ option.name ? option.name : option }}</option>
    </select>

    <!-- textbox input -->

    <!-- datepicker input -->
    <div *ngSwitchCase="'datepicker'" class="datepicker-container">
            <input [mdDatepicker]="picker" placeholder="Choose a date" [formControlName]="input.key" [id]="input.key" [type]="input.type">
            <button mdSuffix [mdDatepickerToggle]="picker"></button>
        <md-datepicker #picker></md-datepicker>
    </div>

    <div class="input-error" *ngIf="!isValid">
        {{ input.label }} is required
    </div>
</div>