<form class="form-container">
    <h1>Supplier Details</h1>
    <div class="form-input-container">
        <div class="col1" *ngIf="supplierDetails">
            <form [formGroup]="supplierDetails" (ngSubmit)="editSupplier()">
                <div *ngFor="let input of inputs1" class="form-item">
                    <input-variable [input]="input" [form]="supplierDetails"></input-variable>
                </div>
                <h1>LL Admin Notes</h1>
                    <div class="form-input-container">
                        <input-textarea [(model)]="supplier.staff_notes" [rows]=10 [cols]=150></input-textarea>
                    </div>
            </form>
        </div>
    </div>
</form>

<form class="form-container">
    <h1>Supplier Warehouse</h1>
    <div class="form-input-container">
        <div class="col1" *ngIf="supplierLocation">
            <form [formGroup]="supplierLocation" (ngSubmit)="editSupplier()">
                <div *ngFor="let input of inputs2" class="form-item">
                    <input-variable [input]="input" [form]="supplierLocation"></input-variable>
                </div>
            </form>
        </div>
    </div>
</form>

<div id="location-container">
    
</div>

<!-- <button md-button class="btn btn-primary" (click)="addLocation()">Add Location</button> -->
<!-- <form class="form-container">
    <h1>Supplier Status</h1>
    <div class="form-input-container">
        <div class="col1">
            <input-select [label]="'Supplier Status'" [options]="statusOptions"></input-select>
            <input-select [label]="'Supplier Datafeed'" [options]="datafeedOptions"></input-select>
        </div>
    </div>
</form> -->

<form class="form-container">
    
</form>

<div class="bottom-action-container">
    <div class="button-container">
        <button md-button class="btn btn-cancel" [routerLink]="'/suppliers'">Back To List</button>
        <button md-button class="btn btn-primary" (click)="editSupplier()">Save Changes</button>
        <!-- <button md-button class="btn btn-secondary">Save & Exit</button> -->
    </div>
</div>
