<div class="report-datepicker">
	<label>{{ label }}</label>
	<div class="angular-datepicker">
		<md-input-container>
	  	<input id="dater" mdInput [mdDatepicker]="picker" placeholder="Choose a date" >
	  	<button mdSuffix [mdDatepickerToggle]="picker"></button>
		</md-input-container>
		<md-datepicker #picker></md-datepicker>	
	</div>
	<div *ngIf="setDateLabel">
		<input type="checkbox" name="">
		<label>{{ setDateLabel }}</label>
	</div>	
</div>
