select {
	  max-width: 180px;
    padding: 0 7px;
    width: auto;
    height: 34px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #d7d6d9;
    color: #34313f;
    outline: none;
}