<div class="page-container">
	<h1>Warnings</h1>
	<listing 
    [(items)]="warnings" 
    [page]="page" 
    [maxpages]="maxpages" 
    [(limit)]="limit" 
    [fields]="fields" 
    [bulkOptions]="bulkOptions" 
    (bulkOptionChange)="bulkChange($event)" 
    (onChange)="changePage($event)" 
    (filter)="filterItems($event)"
    (updateSortAction)="updateSort($event)" 
    [order]="order" 
    [sortabledirection]="sortabledirection">
  </listing>
</div>
