<div clas="container">
	<h1>Application Settings</h1>

	<div class="panel">
		<div class="panel-heading">
		</div>
		<div class="form-input-container">
        <div class="col1" *ngIf="settingsFields">
            <form [formGroup]="settingsFields" (ngSubmit)="saveSettings()">
                <div *ngFor="let input of inputs" class="form-item">
                    <input-variable [input]="input" [form]="settingsFields"></input-variable>
                </div>
            </form>
        </div>
    </div>
		<button class="btn btn-primary btn-float-right" (click)="saveSettings()">Save Settings</button>
	</div>
</div>
