.panel .panel-heading
{
	background: none;
	color: #34313f;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.3334;
	margin-bottom: 10px;
	text-transform: none;
	padding: 0;
}

.panel .panel-body 
{
  background: #fff;
  border: 1px solid #e4e7ed;
  box-sizing: border-box;
  margin-bottom: 1.6rem;
  padding: 20px;
}

input {
	line-height: 1.5rem;
}