/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './app/app.component.css';

/* fix for toolbar */
.mat-toolbar-layout {display: flex !important;}
.bottom-pagination .mat-toolbar-row, .action-bar .mat-toolbar-row, .mat-toolbar {height: auto !important; min-height: 0 !important;}

input[type=text]
{
	background-color: #fff;
	border: 1px solid #d7d6c9;
}

li.row 
{
	display: flex;
  align-items: center;
  box-sizing: border-box;
  float: left;
  width: 100%;
  background: #fff;
  list-style: none;
  border: 1px solid #e4e4e4;
  margin-top: -1px;
  padding: 10px;
  position: relative;
  min-height: 65px;
}

li.row:hover 
{
	background-color: #fbfbfc;
}

li.heading
{
	background: #fbfbfc !important;
	color: #34313f;
	font-weight: 600;
	font-size: 15px;
}

.table-list .col
{
	display: block;
  float: left;
}

.btn
{	  
	display: inline-block;
  padding: 10px 20px 8px;
  background: #fff;
  color: #4b71fc;
  border-radius: 2px;
  border: 1px solid #b7c6fe;
  text-decoration: none;
  letter-spacing: 0;
  font-size: 14px;
  cursor: pointer;
}

.btn.btn-primary
{
	background: #4b71fc;
  color: #fff;
}

.panel .panel-heading
{
	background: none;
	color: #34313f;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.3334;
	margin-bottom: 10px;
	text-transform: none;
	padding: 0;
}

.panel .panel-body 
{
  background: #fff;
  border: 1px solid #e4e7ed;
  box-sizing: border-box;
  margin-bottom: 1.6rem;
  padding: 20px;

}

.page_content_item_3col {
	float: left;
	margin: 0 0 0 40px !important;
	width: 30%;
	.page_content_item_3col-body{
		min-height: 320px;
	}
}

.page_content_item_2col {
	float: left;
	margin: 0 0 0 40px !important;
	width: 45%;
	.page_content_item_2col-body{
		min-height: 320px;
	}
}

.ll-page-content{
	min-height: 600px;
	h1{
		margin-bottom: 60px;
	}
}
.ll-panel-left-big{
	float: left;
	margin: 0 0 0 0px !important;
	width: 68%;
}
.ll-panel-left-small{
	float: left;
	margin: 0 0 0 0px !important;
	width: 30%;
}
.ll-panel-right-big{
	float: right;
	margin: 0 0 0 0px !important;
	width: 68%;
}
.ll-panel-right-small{
	float: right;
	margin: 0 0 0 0px !important;
	width: 30%;
}

.ll-panel-body{
	min-height: 200px;
	.field-left{
		float: left;
		width: 50%;
	}
	.field-right{
		float: right;
		width: 50%;
	}
	.field{
		margin-top: 15px;
	}
	.field-table-row{
		display: table-row;
		margin-bottom: 10px;
	}
	.field-table-cell{
		display: table-cell;
	}
	.field-report-checkbox{
		position: relative;
		top: 7px;
		.checkbox {
			margin-left: 20px;
			margin-right: 5px;
		}
	}
}

.ll-panel-body{
	ul{
		li{
			width: 330px;
			float: left;
			input, select{
				float: right;
			}
		}
	}
}
.display-inline{
	display: inline;
}

.table-list-card {
	margin-bottom : 10px;
}

.btn-float-right {
	margin-top: 5px;
	margin-left: 2px;
	float: right;
}
.btn-float-left {
	margin-top: 5px;
	float: left;
}

.menu-wrapper .addon {
	li:nth-child(5){
		float: none !important;
	}
}

.mt-1 
{
	margin-top: 10px;
}

.mt-2 
{
	margin-top: 20px;
}
