<div class="page-content">
    <h1>Welcome</h1>
    
    <div class="table-list page_content_item_2col">
        <h3>Notifications</h3>
        <li class="row heading">
            <strong class="col" style="min-width: 20%;">Type</strong>
            <strong class="col" style="min-width: 40%;">Store Name</strong>
            <strong class="col" style="min-width: 40%;">Details</strong>    
        </li>
        <div *ngFor="let notification of notifications">
            <li class="row">
                <div class="col" style="min-width: 20%">{{notification.msg_type}}</div>
                <div class="col" style="min-width: 40%">{{notification.entity_name}}</div>
                <div class="col" style="min-width: 40%">{{notification.details}}</div>
            </li>
        </div>
        <button class="btn btn-primary btn-float-right" [routerLink]="'/notifications'">View Notifications</button>
    </div>

    <div class="table-list page_content_item_2col">
        <h3>Latest Orders</h3>
        <li class="row heading">
            <strong class="col" style="min-width: 20%;">Customer ID</strong>
            <strong class="col" style="min-width: 30%;">Product SKU</strong>
            <strong class="col" style="min-width: 50%;">Tracking Number</strong>    
        </li>
        <div *ngFor="let order of orders">
            <li class="row">
                <div class="col" style="min-width: 20%">{{order.account_id}}</div>
                <div class="col" style="min-width: 30%">{{order.sku}}</div>
                <div class="col" style="min-width: 50%">{{order.tracking_number}}</div>
            </li>
        </div>
        <button class="btn btn-primary btn-float-right" [routerLink]="'/orders'">View Latest Orders</button>
    </div>

 <!--    <div class="table-list page_content_item_3col">
        <h3>Stock Warnings</h3>
        <li class="row heading">
            <strong class="col" style="min-width: 50%;">Product Name</strong>
            <strong class="col" style="min-width: 50%;">Stock Value</strong>  
        </li>
        <div *ngFor="let warning of warnings">
            <li class="row">
                <div class="col" style="min-width: 50%">{{warning.product_name}}</div>
                <div class="col" style="min-width: 50%">{{warning.stock_value}}</div>  
            </li>
        </div>
        <button class="btn btn-primary btn-float-right" [routerLink]="'/warnings'">View Stock Warnings</button>
        <button class="btn btn-primary btn-float-right" style="float:left;">Start Quick Remove</button> 
    </div>. -->

</div>