.row
{
	padding-left: 10px;
}

li.row 
{
	display: flex;
  align-items: center;
  box-sizing: border-box;
  float: left;
  width: 100%;
  background: #fff;
  list-style: none;
  border: 1px solid #e4e4e4;
  margin-top: -1px;
  padding: 10px;
  position: relative;
  min-height: 65px;
}

li.row:hover 
{
	background-color: #fbfbfc;
}

li.heading
{
	background: #fbfbfc !important;
	color: #34313f;
	font-weight: 600;
	font-size: 15px;
}

.table-list .col
{
	display: block;
  float: left;
}

.btn
{	  
	display: inline-block;
  padding: 10px 20px 8px;
  background: #fff;
  color: #4b71fc;
  border-radius: 2px;
  border: 1px solid #b7c6fe;
  text-decoration: none;
  letter-spacing: 0;
  font-size: 14px;
  cursor: pointer;
}

.btn.btn-primary
{
	background: #4b71fc;
  color: #fff;
}
