<div class="input-container">
    <label>{{ label }}</label>
    <input type="text" name="{{ label }}" [(ngModel)]="model" [class.invalid]="error" [readonly]="disabled">
    <div class="input-error" *ngIf="error">
        {{ message }}
    </div>
</div>