<div class="panel page_content_item_3col">
	<h1 class="panel-heading">Store Reports</h1>
	<div class="panel-body">
		<form [formGroup]="dateForm">
			<div class="form_item">
	      	<input-variable [input]="inputs1.startDate" [form]="dateForm" ></input-variable>
	      	<input-variable [input]="inputs1.endDate" [form]="dateForm" ></input-variable>		
					<div class="report-box-line">
						<span>Active Stores</span>
						<button md-button (click)="createStoreReport('active')">Download Report</button>
					</div>
					<div class="report-box-line">
						<span>Retired Stores</span>
						<button md-button (click)="createStoreReport('retired')">Download Report</button>
					</div>
			</div>
		</form>
	</div>
</div>

<div class="panel page_content_item_3col">
	<h1 class="panel-heading">Subscription Reports</h1>
	<div class="panel-body">
		<form [formGroup]="dateForm">
		<div class="form_item">
      	<input-variable [input]="inputs1.startDate" [form]="dateForm" ></input-variable>
      	<input-variable [input]="inputs1.endDate" [form]="dateForm" ></input-variable>		
				<div class="report-box-line">
					<span>Total Subscription Sales</span>
					<button md-button (click)="createSubscriptionReport('total_subscriptions_sales')">Download Report</button>
				</div>
				<div class="report-box-line">
					<span>Total Product Sales</span>
					<button md-button (click)="createSubscriptionReport('total_product_sales')">Download Report</button>
				</div>
				<div class="report-box-line">
					<span>Total Cost of Goods</span>
					<button md-button (click)="createSubscriptionReport('')">Download Report</button>
				</div>
		</div>
	</form>
	</div>
</div>

<div class="panel page_content_item_3col">
	<h1 class="panel-heading">Supplier Reports</h1>
	<div class="panel-body">
		<form [formGroup]="dateForm">
			<div class="form_item">
	      	<input-variable [input]="inputs1.startDate" [form]="dateForm" ></input-variable>
	      	<input-variable [input]="inputs1.endDate" [form]="dateForm" ></input-variable>		
					<div class="report-box-line">
						<span>Supplier Fullfillment Rates</span>
						<button md-button (click)="createSupplierReport('')">Download Report</button>
					</div>
					<div class="report-box-line">
						<span>Shipping Turnaround Time</span>
						<button md-button (click)="createSupplierReport('')">Download Report</button>
					</div>
			</div>
		</form>
	</div>
</div>
