<md-toolbar class="action-bar" *ngIf="actionbar">
    <div class="action-left">
        <div class="action-buttons" *ngIf="actionButtons.length > 0">
            <button md-button class="btn-secondary" *ngFor="let action of actionButtons" (click)="clickAction(action.action)">{{ action.name }}</button>
        </div>
        <action-bar [bulkOptions]="bulkOptions" (bulkOptionChange)="updateBulk($event)"  (filterItems)="filterItems($event)" ></action-bar>
    </div>
    <div class="float-right">
        <listing-pagination [page]="page" [maxpages]="maxpages" [(limit)]="limit" (onChange)="pageChange($event)"></listing-pagination>
    </div>
</md-toolbar>
<table class="tbl tbl-admin tbl-border" cellspacing="0">
    <thead>
        <tr>
            <th *ngFor="let heading of fields">
                <div class="heading-items">
                     <span *ngIf="!heading.type">{{ heading.name }}</span>
                     <rd-checkbox *ngIf="heading.type === 'checkbox'" [(check)]="allItems" (checkboxChange)="selectItems($event);"></rd-checkbox>
                     <sortable [order]="order" [sortabledirection]="sortabledirection" [col]="heading.col" *ngIf="heading.sortable" (updateSort)="updateSort($event)"></sortable>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let row of list; let i = index">
            <td *ngFor=" let field of fields">
                <span *ngIf="field.basic">{{ row[field.col] }}</span>
                <rd-checkbox *ngIf="field.type === 'checkbox'" [(check)]="row.selected" (checkboxChange)="updateListCheck($event, i)"></rd-checkbox>
                <a *ngIf="field.link" href="{{ row[field.link.col] }}">{{ row[field.col] }}</a>
                <action-select *ngIf="field.actions" [options]="field.actions.options" [row]="row"></action-select>
            </td>
        </tr>
    </tbody>
</table>
<md-toolbar class="bottom-pagination">
    <listing-pagination [page]="page" [maxpages]="maxpages" [(limit)]="limit" (onChange)="pageChange($event)" ></listing-pagination>
</md-toolbar>